#pane {
    -fx-background-image: url("background2.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#menu {
    -fx-background-image: url("menu2.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#pause {
    -fx-background-image: url("background1.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}